    
<section class="distribucion">

        <div class="container pr-3">
        
             
        <div class="row text-left mt-lg-5  marginINteligente pt-1 pb-5" style=" height: auto; " >
        
        <div class="col-sm-12 col-lg-6 pl-3   bg6 bordesRedondos">
        <h2 class="pl-2  ls1 fw500 text-left tituloslg titulossm text-white bg-success">
                Justo
        </h2>
        <p class="text-white pl-2 parrafoslg parrafossm  text-left ">       
    
                Conserva el 100% de los derechos de tu música, Litmoi la distribuye y toma un porcentaje de las regalias. </p>
        
        <hr>
        
        
        <h2 class="pl-2 tituloslg titulossm  ls1 fw500 text-left text-white bg-success">
                Poderoso
        </h2>
        <p class="text-white parrafoslg parrafossm pl-2 text-left">  Crea un Litmoi<a href="">Medley</a> desde tu lanzamiento en nuestra plataforma y compártelo con el mundo en tus redes sociales.
        </p>
        
        
        <hr>
        
        
        </div>
        
        <div class="col">
        
            
            </div>
        
        
        </div> <!-- end col -->  
        </div>
        </section>
                        
        
    



 

      