<div class="bg-blue">



<div class="bg-blue container text-center pt-4 pb-3">


  <h3 class="p-0 m-0"> +1000 Artists Available </h3>

  <h2 class="fz-30 text-white"> Invest in the most popular digital artists in the world</h2>

  <p class="fz-18 mb-4"> From established industries to new arrivals - choose from more than a dozen different investment routes </p>


      
<div class="col-md-6 col-xl-3 float-right ">
        <!-- project card -->
        <div class="card d-block">
            <!-- project-thumbnail -->
            <img class="card-img-top" src="assets/images/transparent.gif" height="200px" style="background-image:url('assets/images/artistas/1.jpg') ; background-size:cover; background-position: center " alt="project image cap">
            <div class="card-img-overlay">
                <div class="badge badge-success p-1 mb-0">Musician</div>
               
            </div>

            <div class="card-body  bg-blue position-relative">
                  
                <!-- project title-->
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-title">Sech - Musician</a>
                    <h2 class="text-white mt-1 fz-19">US: 12.35</h2>
                </h4>

                <!-- project detail-->

                <p class="mb-2">
                        <span class="pr-2 text-nowrap">
                            <b>4</b> Platforms
                        </span>
                        <span class="text-nowrap">
                            <i class=" mdi mdi-youtube-tv fz-18 mr-1"></i>
                            <i class=" mdi mdi-vimeo fz-18 mr-1"></i>
                            <i class=" mdi mdi-spotify fz-18 mr-1"></i>
                            <i class=" mdi mdi-soundcloud fz-18 mr-1"></i>
                          
                        </span>
                    </p>

                <p class="mb-3">
                    <span class="pr-2 text-nowrap">
                        <i class="mdi mdi-library-video"></i>
                        <b>139</b> Uploads
                    </span>
                    <span class="text-nowrap">
                        <i class=" mdi mdi-artist-outline"></i>
                        <b>4,914,081</b>
                    </span>
                </p>
              
                <div class="mb-3">
       
         <button class="col-12 btn-rounded btn btn-success" > buy Litmoi </button>
                </div>

                <!-- project progress-->
                <p class="mb-2 font-weight-bold">Sold<span class="float-right">52%</span></p>
                <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 52%;">
                    </div><!-- /.progress-bar -->
                </div><!-- /.progress -->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
</div> <!-- end col -->


<div class="col-md-6 col-xl-3 float-right ">
        <!-- project card -->
        <div class="card d-block">
            <!-- project-thumbnail -->
            <img class="card-img-top" src="assets/images/transparent.gif" height="200px" style="background-image:url('assets/images/artistas/7.jpg') ; background-size:cover; background-position: center "alt="project image cap">
            <div class="card-img-overlay">
                <div class="badge badge-danger p-1 mb-0">Youtuber</div>
               
            </div>

            <div class="card-body  bg-blue position-relative">
                  
                <!-- project title-->
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-title">enchufeTV - Youtuber</a>
                    <h2 class="text-white mt-1 fz-19">US: 10.45</h2>
                </h4>

                <!-- project detail-->

                <p class="mb-2">
                        <span class="pr-2 text-nowrap">
                            <b>1</b> Platforms
                        </span>
                        <span class="text-nowrap">
                            <i class=" mdi mdi-youtube-tv fz-18 mr-1"></i>           
                        </span>
                    </p>

                <p class="mb-3">
                    <span class="pr-2 text-nowrap">
                        <i class="mdi mdi-library-video"></i>
                        <b>212</b> Uploads
                    </span>
                    <span class="text-nowrap">
                        <i class=" mdi mdi-artist-outline"></i>
                        <b>23,142,321</b>
                    </span>
                </p>
              
                <div class="mb-3">
       
         <button class="col-12 btn-rounded btn btn-success" > buy Litmoi </button>
                </div>

                <!-- project progress-->
                <p class="mb-2 font-weight-bold">Sold<span class="float-right">52%</span></p>
                <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 52%;">
                    </div><!-- /.progress-bar -->
                </div><!-- /.progress -->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->


<div class="col-md-6 col-xl-3 float-right ">
        <!-- project card -->
        <div class="card d-block">
            <!-- project-thumbnail -->
            <img class="card-img-top" src="assets/images/transparent.gif" height="200px" style="background-image:url('assets/images/artistas/8.jpg') ; background-size:cover; background-position: center " alt="project image cap">
            <div class="card-img-overlay">
                <div class="badge badge-primary p-1 mb-0">News</div>
               
            </div>

            <div class="card-body bg-blue position-relative">
                  
                <!-- project title-->
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-title">RCN Television - News</a>
                    <h2 class="text-white mt-1 fz-19">US: 9.10</h2>
                </h4>

                <!-- project detail-->

                <p class="mb-2">
                        <span class="pr-2 text-nowrap">
                            <b>1</b> Platforms
                        </span>
                        <span class="text-nowrap">
                            <i class=" mdi mdi-youtube-tv fz-18 mr-1"></i>
                        </span>
                    </p>

                <p class="mb-3">
                    <span class="pr-2 text-nowrap">
                        <i class="mdi mdi-library-video"></i>
                        <b>287</b> Uploads
                    </span>
                    <span class="text-nowrap">
                        <i class=" mdi mdi-artist-outline"></i>
                        <b>14,914,081</b>
                    </span>
                </p>
              
                <div class="mb-3">
       
         <button class="col-12 btn-rounded btn btn-success" > buy Litmoi </button>
                </div>

                <!-- project progress-->
                <p class="mb-2 font-weight-bold">Sold<span class="float-right">52%</span></p>
                <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 52%;">
                    </div><!-- /.progress-bar -->
                </div><!-- /.progress -->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->




<div class="col-md-6 col-xl-3 float-right ">
        <!-- project card -->
        <div class="card d-block">
            <!-- project-thumbnail -->
            <img class="card-img-top" src="assets/images/transparent.gif" height="200px" style="background-image:url('assets/images/artistas/4.jpg') ; background-size:cover; background-position: center "alt="project image cap">
            <div class="card-img-overlay">
                <div class="badge badge-success p-1 mb-0">Musician</div>
               
            </div>

            <div class="card-body bg-blue position-relative">
                  
                <!-- project title-->
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-title">Anuel AA- Musician</a>
                    <h2 class="text-white mt-1 fz-19">US: 8.78</h2>
                </h4>

                <!-- project detail-->

                <p class="mb-2">
                        <span class="pr-2 text-nowrap">
                            <b>4</b> Platforms
                        </span>
                        <span class="text-nowrap">
                            <i class=" mdi mdi-youtube-tv fz-18 mr-1"></i>
                            <i class=" mdi mdi-vimeo fz-18 mr-1"></i>
                            <i class=" mdi mdi-spotify fz-18 mr-1"></i>
                            <i class=" mdi mdi-soundcloud fz-18 mr-1"></i>
                          
                        </span>
                    </p>

                <p class="mb-3">
                    <span class="pr-2 text-nowrap">
                        <i class="mdi mdi-library-video"></i>
                        <b>139</b> Uploads
                    </span>
                    <span class="text-nowrap">
                        <i class=" mdi mdi-artist-outline"></i>
                        <b>4,914,081</b>
                    </span>
                </p>
              
                <div class="mb-3">
       
         <button class="col-12 btn-rounded btn btn-success" > buy Litmoi </button>
                </div>

                <!-- project progress-->
                <p class="mb-2 font-weight-bold">Sold<span class="float-right">52%</span></p>
                <div class="progress progress-sm">
                    <div class="progress-bar" role="progressbar" aria-valuenow="52" aria-valuemin="0" aria-valuemax="100" style="width: 52%;">
                    </div><!-- /.progress-bar -->
                </div><!-- /.progress -->
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

    <p class="fz-18"> Desde industrias ya establecidas hasta las recién llegadas— escogeentre más de una docena de rutas diferentes de inversión </p>
            
</div>

            
</div>
              

    

    
    
 