<div class="pt-5" >


<div style="display: table; height: 300px">


 <div class="container pl-sm-1 pr-sm-1 pl-md-5 pr-md-5 pl-lg-5 pr-lg-5">
  <img src="assets/img/logo.png" class="mt-0 logo mr-10" alt="">   
  <h2 class="text-black fw600 pb-0 titulo">Litmoi Co.</h2>
  <h1 class="text-black fw600  subtitulo">The Media Creatives Stock Market.</h1>
  <hr>
  <h3 class="text-black fz-18 mb-3" >You as a music artist can be listed as a stock. Your fans and friends can earn money from 
  listening to your music & investing in you.
  </h3> 

<div class="row mb-3">
    <div class="col-6">
  <button class="btn col-12 btn-sm btn-rounded  btn-info m-1" routerLink="/login"  type="button"> <i class=""></i> LogIn </button>
</div>

  <div class="col-6">
  <button class="btn col-12 btn-sm btn-rounded  btn-success m-1" routerLink="/register" type="button"> <i class="  "></i> Get Started </button> 
</div>
</div>


    

</div>
</div>



</div>
