<div class="bg text-left pt-5" >





  
<div style="display: table; height: 400px">
<div style="display: table-cell; vertical-align: middle;">

  <div class="container">

  
      <img src="assets/img/logo.png" class="mt-0 logo mr-10" alt="">   
      
      <div class="menos">

  <h2 class="text-white titulo">Litmoi</h2>
  <h1 class="text-white  fz-30">Digital Asset Market for Media Creators and Artists.</h1>
  <hr>
 <h3 class="text-white fz-18 mb-3" >You as a music artist can be listed as a stock. Your fans and friends can earn money from 
      listening to your music & investing in you.
      </h3> 

    </div>

    </div>  


    
    
    <div class="row text-center col-12 mb-2" >

<div class="col-sm-12 col-lg-6">
        <button class="btn   col-6 btn-sm  btn-outline-info m-1" routerLink="/login"  type="button"> <i class=""></i> LogIn </button>
    </div>

    <div class="col-sm-12 col-lg-6">
            <button class="btn col-6 btn-sm  btn-outline-success m-1" routerLink="/register" type="button"> <i class="  "></i> Get Started </button> 
    </div>
     
  
    </div>


</div>



</div>



</div>
