<div class="bg pt-5" >


<div style="display: table; height: 300px">
<div style="display: table-cell; vertical-align: middle;">

 <div class="container pl-4 pr-4">
  <img src="assets/img/logo.png" class="mt-0 logo mr-10" alt="">   
  <h2 class="text-black fw700 titulo">Litmoi</h2>
  <h1 class="text-black fw700  subtitulo">The Media Creatives Stock Market.</h1>
  <hr>
  <h3 class="text-black fz-18 mb-3" >You as a music artist can be listed as a stock. Your fans and friends can earn money from 
  listening to your music & investing in you.
  </h3> 

<div class="row mb-1">
    <div class="col-6">
  <button class="btn col-12 btn-sm  btn-outline-info m-1" routerLink="/login"  type="button"> <i class=""></i> LogIn </button>
</div>

  <div class="col-6">
  <button class="btn col-12 btn-sm  btn-outline-success m-1" routerLink="/register" type="button"> <i class="  "></i> Get Started </button> 
</div>
</div>

</div>

    

</div>
</div>



</div>
