

        <header class="masthead">
            <div class="container h-100">
              <div class="row h-100">

                  <div class="col-lg-5 my-auto">
                      <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                          <div class="device">
                            <div class="screen">
                              <img src="assets/images/img/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                <div class="col-lg-7 my-auto">
                  <div class="header-content mx-auto">
                      <h2 class="mb-5 mt-5 text-white fz-58">Litmoi<span class="fw300 text-success" >Fund&trade;</span></h2>
                    <h3 class="mb-1 text-black fw400 fz-48">Promoción con alcance global.</h3>
                    <h3>Ante la imposibilidad de ejercer un control y recaudo efectivo de manera individual por parte de las organizaciones
                        tradicionales, presentamos </h3>
            
                        <h2 class="mb-5 mt-5 text-white fz-58">Litmoi<span class="fw300" >Fund</span> </h2>
            
                    <h4>Servicio de streaming diseñado para estableciminetos comerciales</h4>   
                  </div>
                </div>

              </div>
            </div>
          </header>        
            
                        