<nav class="navbar fixed-top bg1 pb-0 pt-0">


      <ul class="list-unstyled mb-0 mt-0 mr-auto mx-auto d-sm-flex d-block flex-sm-nowr">
        
        <li class="nav-item float-left">
          <a class="nav-link text-white fw600 pl-0 pr-3" routerLink="home" routerLinkActive="active">Home</a>
        </li>

        <li class="nav-item float-left">
          <a class="nav-link text-white fw600 pl-0 pr-3" routerLink="contacto" routerLinkActive="active">Servicios</a>
        </li>

        <li class="nav-item float-left">
            <a class="nav-link text-white fw600 pl-0 pr-3" routerLink="contacto" routerLinkActive="active">Noticias</a>
        </li>


      <li class="nav-item float-left  dropdown notification-list">
        <a class="nav-link dropdown-toggle pl-0 pr-2 fw600 arrow-none" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
        <img src="assets/images/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <i class="mdi mdi-chevron-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <img src="assets/images/flags/germany.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">German</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <img src="assets/images/flags/italy.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Italian</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <img src="assets/images/flags/spain.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Spanish</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <img src="assets/images/flags/russia.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">Russian</span>
            </a>

        </div>
      </li>

      </ul>


  </nav>