<div class="container-12 fixed-top bg1">
 


<nav class=" container bg1 tabbable text-left">

    <div class="row mb-0 pb-0">

        <div class="col-6" >
            <span><img  src="assets/images/img/LitmoiSmart2.png" class=" ml-2 mt-2 mb-0 pb-0" alt="" height="35"></span>
    </div>
    
    <div class="col-6 text-right" >
    
        <button class="text-center btn-sm btn-info bg2  fw600 mb-0 mr-2 mt-2 fz-20" routerLink="/login"  type="button"> <i class=""></i>Subir tracks</button>
     
    </div>
    
    
      </div>
    
    <div class="nav nav-tabs mt-1 text-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link text-white fw700 active" id="nav-home-tab" data-toggle="tab" [routerLink]="['home']" aria-selected="true">INICIO</a>
      <a class="nav-item nav-link text-white fw700" id="nav-profile-tab" data-toggle="tab" [routerLink]="['servicios']" aria-selected="false">SERVICIOS</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['precios']" aria-selected="false">PRECIOS</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['noticias']" aria-selected="false">NOTICIAS</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['eventos']" aria-selected="false">EVENTOS</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['contacto']" aria-selected="false">CONTACTO</a>
    </div>
  </nav>




</div>

