
<div class="container-12 fixed-top bg-1">
 


<nav class=" container bg- tabbable text-left">


    <div class="nav nav-tabs mt-1 text-center" id="nav-tab" role="tablist">

      <a class="nav-item nav-link text-white fw700 active" id="nav-home-tab" data-toggle="tab" [routerLink]="['home']" aria-selected="true">Inicio</a>
      <a class="nav-item nav-link text-white fw700" id="nav-profile-tab" data-toggle="tab" [routerLink]="['servicios']" aria-selected="false">Servicios</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['precios']" aria-selected="false">Precios</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['noticias']" aria-selected="false">Noticias</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['eventos']" aria-selected="false">Eventos</a>
      <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['contacto']" aria-selected="false">Contacto</a>
    </div>
  </nav>




</div>



<!--

<nav class="navbar navbar-expand-lg  bg1 text-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <i class="fz-30 text-white   mdi mdi-menu-down" ></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active mt-1 ml-3">
            <a class="nav-item nav-link text-white fw700 active" id="nav-home-tab" data-toggle="tab" [routerLink]="['home']" aria-selected="true">Inicio</a>
        </li>
        <li class="nav-item mt-1  ml-3">
            <a class="nav-item nav-link text-white fw700" id="nav-profile-tab" data-toggle="tab" [routerLink]="['servicios']" aria-selected="false">Servicios</a>
        </li>
        <li class="nav-item mt-1  ml-3">
            <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['precios']" aria-selected="false">Precios</a>
        </li>
        <li class="nav-item mt-1  ml-3">
         <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['noticias']" aria-selected="false">Noticias</a>
        </li>
        <li class="nav-item mt-1  ml-3">
            <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['eventos']" aria-selected="false">Eventos</a>
          </li>

          <li class="nav-item mt-1  ml-3">
              <a class="nav-item nav-link text-white fw700" id="nav-contact-tab" data-toggle="tab" [routerLink]="['contacto']" aria-selected="false">Contacto</a>
            </li>




        </ul>
    </div>
  </nav>


-->