<div class="bg-dragula " >


    <div style="display: table; height: 300px">
    <div style="display: table-cell; vertical-align: middle;">
    
            <div class="container">


      
                    <div class="row">
            
            
                      <div class="col-6">
                            <h3 class="text-white fz-18  fw800">Music Lovers</h3>
                            <hr>
                            <p class="text-white fz-18  fw300" >
                            <strong> Based on the streaming platforms performance of your favorite digital Artists,<i> You can invest in litmois</i> </strong>
                            </p>
                  
                      </div>
                      <div class="col-6">
                            <h2 class="text-white fz-48 text-left  fw600 vertical-text">Fans</h2>
                     
                      </div>
            
                  </div>
            
                </div>
              
                       <div class="conteiner pr-5 pl-5">
                       <div class="col-12">
                       <button class="btn col-12 btn-sm btn-rounded  btn-outline-light m-1" routerLink="/register" type="button"> <i class="  "></i> Find Artists </button> 
                       </div>
                       </div>
    
        
    
    </div>
    </div>
    
    
    
    </div>