

<div class="bg-blue">



<div  class="row m-0 p-0 animated fadeIn">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 m-0">

        <section class="cta bg1 masthead">
                <div class="container cta-content pb-5 pt-5">
                
                
                
                    
                <div class="row m-0 p-0">
                
                <div class="col m-0 p-0">
                <span><img  src="assets/images/LitmoiSmart2.png" class="fade-in-bck mt-4 mb-5" alt="" height="50"></span>
                </div>
                
                <div class="col m-0 p-0">
                </div>
                
                <div class="col m-0 p-0">
                <h1 class="text-white m-0 fzlgtitle fzsmtitle">Distribución musical. <br> <span class="fw600 text-success">Inteligente!</span> </h1>
                </div>
                
                <div class="col m-0 p-0">
                </div>
                
                
                    
                
                </div>
                
                   
                
                
                
                
                
                
                
                
                </div>
                <div class="overlay"></div>
                </section>
</div>
</div>

<!-- Call to actions -->
<div class="row m-0 p-0">
<div class="col-sm-6 col-md-6 col-lg-6 p-0 m-0" >
</div>
<div class="col-sm-6 col-md-6 col-lg-6 p-0 m-0" >
        <div class="row container bg1 bordesRedondos  text-right menosSmall menosNormal" style="height: auto" >


                <div class="col-sm-12 col-lg-6 mb-2 mt-2">
                    <h3 class="bg1 bordesRedondos  card text-white p-2" >
                        Artistas <br>
                      </h3>
                      <p>Lanza nuevos tracks</p>
                      <button class="btn btn-info  col-12" routerLink="/loginArtist" >Iniciar</button>
                </div>
                 
                
                   
                
                <div class="col-sm-12 col-lg-6 mb-3 mt-2 ">
                    <h3 class="bg1 bordesRedondos card  text-white p-2" >
                        Sitios  <br> 
                      </h3>
                      <p>Litmoi Play , música on-demand. </p>
                      <button class="btn btn-info   col-12" routerLink="/loginArtist" >Iniciar</button>
                
                </div>
                
                      
                
                
                
                   
                
                
                  </div>
                
                
</div>
</div>
<!--end Call to actions -->

<div class="row mt-0 m-0 zeta  bg-white p-0 animated fadeIn">
<div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0 text-left">


        <div  class="pt-1 m-0 bg-success   cta">
                <div  class="row  bg1 m-0 p-0">
                
                    <div class="col-sm-12 col-lg-6">
                            <h2 class="text-white toplarge p-2 topsmall mb-4 fw400">Litmoi hace que tu música llegue al máximo de personas posible, y te ayuda
                                    a cobrar por todo el trabajo duro que realizas para promocionarla.
                                </h2>
                
                    </div>
                
                    <div class="col"></div>
                
                <hr>
                </div>
                </div>
                
</div>
</div>


<div class="row mt-0 m-0 zeta  bg1 p-0 animated fadeIn">
<div class="col-sm-12 col-lg-12 p-0 m-0 text-left">
                <section class="inteligente">

                                <div class="container pr-3">
                                
                                     
                                <div class="row text-left mt-lg-5  marginINteligente pt-1 pb-5" style=" height: auto; " >
                                
                                <div class="col-sm-12 col-lg-6 pl-3   bg6 bordesRedondos">
                                <h2 class="pl-2  ls1 fw500 text-left tituloslg titulossm text-white bg-success">
                                        Justo
                                </h2>
                                <p class="text-white pl-2 parrafoslg parrafossm  text-left ">       
                            
                                        Conserva el 100% de los derechos de tu música, Litmoi la distribuye y toma un porcentaje de las regalias. </p>
                                
                                <hr>
                                
                                
                                <h2 class="pl-2 tituloslg titulossm  ls1 fw500 text-left text-white bg-success">
                                        Poderoso
                                </h2>
                                <p class="text-white parrafoslg parrafossm pl-2 text-left">  Crea un Litmoi<a href="">Medley</a> desde tu lanzamiento en nuestra plataforma y compártelo con el mundo en tus redes sociales.
                                </p>
                                
                                
                                <hr>
                                
                                
                                </div>
                                
                                <div class="col">
                                
                                    
                                    </div>
                                
                                
                                </div> <!-- end col -->  
                                </div>
                                </section>
                                                
</div>
</div>


<!-- Distribuimos en las principales plataformas -->
<div class="row mt-1 mb-1 bg1 m-0 p-0 animated fadeIn">
  
    

   
<div class="col-sm-12 pt-4 col-md-6 col-lg-6 p-0 m-0">


                <div class="container bg1 text-center pt-4 pb-4 ">
    
                                <h2 class="mb-3 fw400 fz-24">Distribuimos tu música en las principales plataformas</h2>
                                      
                                <div class="col-md-6 col-xl-3 float-right mb-4 ">
                                  <!-- project card -->
                                  <div class="bg1  d-block ">
                                  <i class="fz-30 text-white mdi mdi-spotify"></i>
                                  <h2 class="fz-14 fw400 mt-0 text-white">
                                 Spotify
                                  </h2>
                                  </div> <!-- end card-->
                                  </div> <!-- end col -->
                                
                                <div class="col-md-6 col-xl-3 float-right mb-4 ">
                                  <!-- project card -->
                                  <div class="bg1 d-block">
                                  <i class="fz-30 text-white mdi mdi-youtube"></i>
                                  <h2 class="fz-14 fw400 mt-0  text-white">
                                  Ytb music
                                  </h2>
                                  </div> <!-- end card-->
                                  </div> <!-- end col -->
                                
                                   <div class="col-md-6 col-xl-3 float-right mb-4 ">
                                  <!-- project card -->
                                    <div class="bg1   d-block ">
                                      <i class="fz-30 text-white mdi mdi-itunes"></i>
                                      <h2 class="fz-14 fw400 mt-0  text-white">
                                      Apple music
                                      </h2>
                                      </div> <!-- end card-->
                                      </div> <!-- end col -->
                                
                                        <div class="col-md-6 col-xl-3 float-right mb-4 ">
                                            <!-- project card -->
                                            <div class="bg1 d-block">
                                            <i class="fz-30 text-white mdi mdi-google-play"></i>
                                            <h2 class="fz-14 fw400 mt-0  text-white">
                                           Google play
                                            </h2>
                                            </div> <!-- end card-->
                                            </div> <!-- end col -->
                                
                             </div>
                                    
</div>

<div class="mt-4  bg-blue col-sm-12 col-md-6 col-lg-6 p-0 m-0 ">
<h3 class="text-white mt-5 mb-5 ml-15 fz-30">
    luego <br>
 <span> Monitoreamos tus streams </span>  <br> y recolectamos todas tus regalias

</h3>



</div >



</div>

<div class="row mt-0 m-0 zeta  bg1 p-0 animated fadeIn">
<div class="col-sm-12 col-lg-12  p-0 m-0 text-left">
        <section class="distribucion">

                <div class="container pr-3">
                
                     
                <div class="row text-left mt-lg-5  marginINteligente pt-1 pb-5" style=" height: auto; " >
                
                <div class="col-sm-12 col-lg-6 pl-3   bg6 bordesRedondos">
                <h2 class="pl-2  ls1 fw500 text-left tituloslg titulossm text-white bg-success">
                        Justo
                </h2>
                <p class="text-white pl-2 parrafoslg parrafossm  text-left ">       
            
                        Conserva el 100% de los derechos de tu música, Litmoi la distribuye y toma un porcentaje de las regalias. </p>
                
                <hr>
                
                
                <h2 class="pl-2 tituloslg titulossm  ls1 fw500 text-left text-white bg-success">
                        Poderoso
                </h2>
                <p class="text-white parrafoslg parrafossm pl-2 text-left">  Crea un Litmoi<a href="">Medley</a> desde tu lanzamiento en nuestra plataforma y compártelo con el mundo en tus redes sociales.
                </p>
                
                
                <hr>
                
                
                </div>
                
                <div class="col">
                
                    
                    </div>
                
                
                </div> <!-- end col -->  
                </div>
                </section>
                                
                
            
</div>
</div>

<div class="row  bg-white m-0 p-0 animated fadeIn">
<div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
                <section class="h-100">
                                <div class="container-12 text-center">
                            
                            
                                    <div class="text-center">
                            
                            
                                        <h2 class="vertical text-black fw400 fz-30">
                                            Litmoi Music presenta:
                                           </h2>
                              
                                      </div>
                            
                            
                            
                                  <div class="row m-0 p-0 pt-2 bg1">
                            
                                    <div class="col-lg-4 pt-5 pb-5  bg2 my-auto bordesRedondos">
                                      <div class="header-content mx-auto">
                                          <h2 class="text-white fw500 fz-38">Litmoi<span class="fw300 text-success" >Medley&trade;</span></h2>
                                          <h4 class="text-white fw300" >Promoción de alcance global.</h4> 
                                          <img src="assets/images/img/demo-screen-1.png" class="img-fluid mt-4 bordesRedondos" alt="">
                                      </div>
                                    </div>
                            
                                    <div class="col-lg-4 pt-5 pb-5   bg1 my-auto">
                                        <div class="header-content mx-auto">
                                            <h2 class="text-white fw500 fz-38">Litmoi<span class="fw300 text-success" >PLay&trade;</span></h2>
                                            <h4 class="text-white fw300" >Monitoreo de reproducciones.</h4> 
                                            <img src="assets/images/img/demo-screen-2.png" class="img-fluid mt-4 bordesRedondos" alt="">
                                        </div>
                                      </div>
                            
                                      <div class="col-lg-4 pt-5 pb-5 bg2 my-auto bordesRedondos">
                                          <div class="header-content mx-auto">
                                              <h2 class="text-white fw500 fz-38">Litmoi<span class="fw300 text-success" >Fund&trade;</span></h2>
                                              <h4 class="text-white fw300" >Financiación.</h4> 
                                              <img src="assets/images/img/demo-screen-3.png" class="img-fluid mt-4 bordesRedondos" alt="">
                                          </div>
                                        </div>
                            
                                  </div>
                             
                            
                            
                                </div>
                              </section>
</div>
</div>  
        

<!--

<div class="row  bg-white m-0 p-0 animated fadeIn">
<div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
<header class="masthead">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-lg-7 my-auto">
              <div class="header-content mx-auto">
                  <h2 class=" text-black fz-48">Litmoi<span class="fw300 text-success" >Medley&trade;</span></h2>
                  <h4 class="text-black fw300" >Promoción con alcance global.</h4> 
              </div>
            </div>
            <div class="col-lg-5 my-auto">
              <div class="device-container">
                <div class="device-mockup iphone6_plus portrait white">
                  <div class="device">
                    <div class="screen">
                
                      <img src="assets/images/img/demo-screen-1.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="button">
                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
</div>
</div>  



<div>
<div  class="row bg1 m-0 p-0 animated fadeIn">
<div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">

<header class="masthead">
<div class="container h-100">
<div class="row h-100">
<div class="col-lg-5 my-auto">
            <div class="device-container">
                <div class="device-mockup iphone6_plus portrait white">
                    <div class="device">
                        <div class="screen">
                        <img src="assets/images/img/demo-screen-1.jpg" class="img-fluid" alt="">
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
            <h2 class="mb-5 text-white fz-58">Litmoi<span class="fw300" >Play</span> </h2>
            <h4 class="fw300" >Servicio de streaming diseñado para estableciminetos comerciales</h4> 
            <h2 class=" mb-5 fw400 fz-30 ">Controlamos cuanto haz generado en los sitios donde suena tu música</h2>

           
             
        </div>
</div>
</div>
</div>
</header>        
    
                
</div>
<div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
</div>
</div>
</div>



<div>
        <div  class="row bg1 m-0 p-0 animated fadeIn">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
      

        <header class="masthead">
            <div class="container h-100">
              <div class="row h-100">

                  <div class="col-lg-5 my-auto">
                      <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                          <div class="device">
                            <div class="screen">
                              <img src="assets/images/img/demo-screen-1.jpg" class="img-fluid" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                <div class="col-lg-7 my-auto">
                  <div class="header-content mx-auto">
                      <h2 class="mb-5 mt-5 text-white fz-58">Litmoi<span class="fw300 text-success" >Fund&trade;</span></h2>
                    <h3 class="mb-1 text-black fw400 fz-48">Promoción con alcance global.</h3>
                    <h3>Ante la imposibilidad de ejercer un control y recaudo efectivo de manera individual por parte de las organizaciones
                        tradicionales, presentamos </h3>
            
                        <h2 class="mb-5 mt-5 text-white fz-58">Litmoi<span class="fw300" >Fund</span> </h2>
            
                    <h4>Servicio de streaming diseñado para estableciminetos comerciales</h4>   
                  </div>
                </div>

              </div>
            </div>
          </header>        
            
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
        </div>
        </div>
        </div>
        
-->

   
 
</div>

