<div  class="row m-0 p-0 animated fadeIn">

       
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 m-0">
       
    <app-div1></app-div1>

    </div>
<!--
    <div class="col-sm-12 col-md-12 col-lg-5 p-0 m-0 bg-dragula">
    <app-div2></app-div2>
    </div>

    -->

</div>

<div >

<div  class="row m-0 p-0 animated fadeIn">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
        <app-div3></app-div3>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
     
    </div>
</div>

</div>



<div  class="row mt-0 m-0 bg-morado p-0 animated fadeIn">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
            <app-div6></app-div6>
        </div>
</div>


<div class="row mt-0 bg-morado m-0 p-0 animated fadeIn">
      
            <div class="col-sm-12 col-md-12 col-lg-12 p-0 m-0">
            <app-div7></app-div7>
            </div>
      
    </div>

   
<!--

<div class="row mt-1 m-0 p-0 animated fadeIn">
<div class="bg-dragula col-sm-12 col-md-12 col-lg-12 p-0 m-0">
<app-faq></app-faq>


</div>


</div>   

 -->