


<div class="col-12 p-0 fixed-top mb-1">
  <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg bg-warning  p-0 ">
    
      <div class="" id="navbarSupportedContent">

     <ul class="navbar-nav m-0 p-0  mr-auto mx-auto d-sm-flex d-block flex-sm-nowr "> 
        <!--   <ul class="navbar-nav  ">  --> 

          <li class="nav-item m-2 text-center">
           <a class="fz-15 m-0 fw700"  routerLink="home">  Home </a>
          </li>

          <li class="nav-item m-2 text-center">
              <a class="fz-15 m-0 fw700"  routerLink="prices">  Prices </a>
             </li>

  
          <li class="nav-item text-center dropdown m-2">
            <a class="nav-item fw700 fz-15 m-0 " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           More
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="fz-15 m-0 dropdown-item" routerLink="white">  WHITE PAPER </a>
              <a class="fz-15 m-0 dropdown-item" routerLink="smart"> SMART CONTRACT </a>
              <div class="dropdown-divider text-center"></div>
              <a class="dropdown-item fz-15 m-0 fw800" href="#">Contact</a>
            </div>
          </li>
    
        </ul>


      </div>
    </nav>
</div>

