

    <div   class="pt-5 m-0  bg-morado">

   
      <div  class="container">

    
  
    <span><img  src="assets/images/LitmoiSmart.png" class="flicker-1 mb-0" alt="" height="137"></span>
    <h1 class="flicker-1 text-blackfz-30 text-white fz-30 fw700 mt-0">Litmoi</h1>

  


    <p class="tracking-in-expand text-white mt-4 fz-48 fw600">Distribución musical. <br  > Inteligente.</p>

    <!--

 <h5 class="text-white fw100 fw700 fz-18" >Una distribución inteligente aumenta notablemente tu base de fans   </h5> 

    -->

    <button class="btn btn-outline-info btn-sm mb-4 mb-0 mt-4 mr-0 text-grey fz-18" routerLink="/login"  type="button"> <i class=""></i>comenzar</button>



  </div>
    
    
    </div>

    
    
