

    <div class="pt-5 m-0  bg-light">

      <div class="container ">
  
    <span><img src="assets/images/LitmoiSmart.png" class="mb-0" alt="" height="50"></span>
    <h1 class="text-blackfz-30 text-black fw700 mt-0">Litmoi</h1>
    <h3 class="text-black mt-4 fz-48 fw600">Distribución musical. <br> Inteligente.</h3>
    <h5 class="text-black fw100 fw700 fz-18" >Una distribución inteligente aumenta notablemente tu base de fans   </h5> 

    

    <button class="btn mb-3 mt-4 mr-0 btn-sm btn-outline-light text-black   btn-rounded  btn-dark" routerLink="/login"  type="button"> <i class=""></i>comenzar</button>



  </div>
    
    
    </div>

    
    
