

    <div class="container pl-lg-4 pr-lg-4 pt-5 m-0 bg-dark div1">
   
    
    
      <span><img src="assets/images/logo-dark.png" class="mb-0" alt="" height="78"></span>
   
      <h3 class="text-black fw600 mt-0">The digital artists stock market.</h3>

      <hr>
      <h5 class="text-black fw100 fz-18" >Keep your eyes on June 1.
      </h5> 
    
    <div class="row mt-5">
    <div class="col-6">
    <button class="btn col-12 btn-sm btn-rounded  btn-info " routerLink="/login"  type="button"> <i class=""></i> LogIn </button>
    </div>
    
    <div class="col-6">
    <button class="btn col-12 btn-sm btn-rounded  btn-success" routerLink="/register" type="button"> <i class="  "></i> Get Started </button> 
    </div>
    </div>
    
    
    </div>

    
    
