<div class="auth-fluid-pages animated fadeIn pb-0" >

<div class="auth-fluid">
  <!--Auth fluid left content -->
  <div class="auth-fluid-form-box bg-dragula">
      <div class="align-items-center d-flex h-100">
          <div class="card-body">

              <!-- Logo -->
              <div class="auth-brand text-center text-lg-left">
                  <a href="index.html">
                      <span><img src="assets/images/logo-light.png" alt="" height="58"></span>
                  </a>
              </div>

              <!-- title-->
              <h4 class="mt-0">Sign In</h4>
              <p class="text-muted mb-4">Enter your email address and password to access account.</p>

              <!-- form -->
              <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" (ngSubmit)="ingresar( f )">

                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input [ngModel]="email" name="email" class="form-control form-rounded" type="email" required placeholder="Correo del usuario">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input ngModel name="password" class="form-control form-rounded" type="password" required placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup"> Remember me </label>
                        </div>
                        <a href="javascript:void(0)" id="to-recover" class="text-muted pull-right"><i class="fa fa-lock m-r-5"></i> Forgot Pasword?</a> </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-sm btn-block text-uppercase btn-rounded" type="submit">Ingresar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                        <div class="social">
                            <button type="button" id="btnGoogle" class="btn btn-googleplus" data-toggle="tooltip" title="Iniciar sesión con Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </button>
                        </div>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        Don´t have an account? <a routerLink="/register" class="text-primary m-l-5"><b>Sing In</b></a>
                    </div>
                </div>
            </form>

            <!--

            <form class="form-horizontal" id="recoverform" action="index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Password Recovery</h3>
                        <p class="text-muted">Escriba su correo electrónico y siga los pasos </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control form-rounded" type="text" required="" placeholder="Email">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-rounded btn-sm btn-block text-uppercase waves-effect waves-light" type="submit">Reset</button>
                    </div>
                </div>
            </form>

            -->
              <!-- end form-->

              <!-- Footer-->
              <footer class="footer footer-alt">
                  <p class="text-muted">Don't have an account? <a href="pages-register-2.html" class="text-muted ml-1"><b>Sign Up</b></a></p>
              </footer>

          </div> <!-- end .card-body -->
      </div> <!-- end .align-items-center.d-flex.h-100-->
  </div>
  <!-- end auth-fluid-form-box-->

  <!-- Auth fluid right content -->
  <div class="auth-fluid-right text-center">
      <div class="auth-user-testimonial">
          <h2 class="mb-3">The Creatives Stock Market</h2>
          <p class="lead"><i class="mdi mdi-format-quote-open"></i>You as a music artist can be listed as a stock. Your fans and friends can earn money from 
            listening to your music & investing in you. <i class="mdi mdi-format-quote-close"></i>
          </p>
          <p>
              - Pablo Ramìrez
          </p>
      </div> <!-- end auth-user-testimonial-->
  </div>
  <!-- end Auth fluid right content -->
</div>
<!-- end auth-fluid-->

</div>