<div class="left-side-menu bg-blue">

  <div class="slimscroll-menu" id="left-side-menu-container">

      <!-- LOGO -->
      <div class="centrar">
      <a href="index.html" class="logo text-center">
          <span class="logo-lg">
              <img src="assets/images/logo-light.png" alt="" height="46">
          </span>
          <span class="logo-sm">
              <img src="assets/images/logo_sm.png" alt="" height="16">
          </span>
      </a>
    </div>

      <!--- Sidemenu -->
      <ul class="metismenu side-nav">

          <li class="side-nav-title side-nav-item text-white">Fan Navigation</li>

          <li class="side-nav-item">
              <a href="javascript: void(0);" class="side-nav-link">
                  <i class="dripicons-meter text-white"></i>
                  <span class="badge badge-success float-right text-white">3</span>
                  <span class="text-white"> Home </span>
              </a>
              <ul class="side-nav-second-level " aria-expanded="false">
                  <li>
                      <a class="text-white" [routerLink]="['fanHome']" routerLinkActive="router-link-active" > Artists </a>
                  </li>
                  <li>
                      <a class="text-white" href="dashboard-crm.html">Ingresos</a>
                  </li>
                  <li>
                      <a class="text-white" href="dashboard-projects.html">Projects</a>
                  </li>
              </ul>
          </li>

          <li class="side-nav-item text-white">
              <a href="javascript: void(0);" class="side-nav-link text-white">
                  <i class="dripicons-view-apps"></i>
                  <span class="text-white"> Apps </span>
                  <span class="menu-arrow text-white"></span>
              </a>
              <ul class="side-nav-second-level" aria-expanded="false">
                  <li>
                      <a class="text-white" href="apps-calendar.html">Calendar</a>
                  </li>
                  <li class="side-nav-item">
                      <a class="text-white" href="javascript: void(0);" aria-expanded="false">Projects
                          <span class="menu-arrow"></span>
                      </a>
                      <ul class="side-nav-third-level text-white" aria-expanded="false">
                          <li>
                              <a class="text-white" href="apps-projects-list.html">List</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-projects-details.html">Details</a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a class="text-white" href="apps-tasks.html">Tasks</a>
                  </li>
                  <li class="side-nav-item text-white">
                      <a class="text-white" href="javascript: void(0);" aria-expanded="false">eCommerce
                          <span class="menu-arrow text-white"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                          <li>
                              <a class="text-white" href="apps-ecommerce-products.html">Products</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-products-details.html">Products Details</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-orders.html">Orders</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-orders-details.html">Order Details</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-customers.html">Customers</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-shopping-cart.html">Shopping Cart</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-checkout.html">Checkout</a>
                          </li>
                          <li>
                              <a class="text-white" href="apps-ecommerce-sellers.html">Sellers</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>

          <li class="side-nav-item text-white">
              <a class="text-white" href="javascript: void(0);" class="side-nav-link">
                  <i class="dripicons-copy text-white"></i>
                  <span class="text-white"> Pages </span>
                  <span class="menu-arrow text-white"></span>
              </a>
              <ul class="side-nav-second-level" aria-expanded="false">
                  <li>
                      <a class="text-white" href="pages-starter.html">Starter Page</a>
                  </li>
                  <li>
                      <a class="text-white" href="pages-profile.html">Profile</a>
                  </li>
                  <li>
                      <a class="text-white" href="pages-invoice.html">Invoice</a>
                  </li>
                  <li>
                      <a class="text-white" href="pages-faq.html">FAQ</a>
                  </li>
                  <li>
                      <a class="text-white" href="pages-pricing.html">Pricing</a>
                  </li>
                  <li>
                      <a class="text-white" href="pages-maintenance.html">Maintenance</a>
                  </li>
                  <li class="side-nav-item text-white">
                      <a class="text-white" href="javascript: void(0);" aria-expanded="false">Authentication
                          <span class="menu-arrow text-white"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                          <li>
                              <a class="text-white" href="pages-login.html">Login</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-login-2.html">Login 2</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-register.html">Register</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-register-2.html">Register 2</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-logout.html">Logout</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-logout-2.html">Logout 2</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-recoverpw.html">Recover Password</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-recoverpw-2.html">Recover Password 2</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-lock-screen.html">Lock Screen</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-lock-screen-2.html">Lock Screen 2</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-confirm-mail.html">Confirm Mail</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-confirm-mail-2.html">Confirm Mail 2</a>
                          </li>
                      </ul>
                  </li>
                  <li class="side-nav-item">
                      <a href="javascript: void(0);" class="text-white" aria-expanded="false">Error
                          <span class="menu-arrow"></span>
                      </a>
                      <ul class="side-nav-third-level" aria-expanded="false">
                          <li>
                              <a class="text-white" href="pages-404.html">Error 404</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-404-alt.html">Error 404-alt</a>
                          </li>
                          <li>
                              <a class="text-white" href="pages-500.html">Error 500</a>
                          </li>
                      </ul>
                  </li>
              </ul>
          </li>

          <li class="side-nav-item">
              <a href="javascript: void(0);" class="side-nav-link text-white">
                  <i class="dripicons-browser"></i>
                  <span class="text-white" >  Layouts </span>
                  <span class="menu-arrow text-white"></span>
              </a>
              <ul class="side-nav-second-level" aria-expanded="false">
                  <li>
                      <a class="text-white" href="layouts-horizontal.html">Horizontal</a>
                  </li>
                  <li>
                      <a class="text-white" href="layouts-light-sidenav.html">Light Sidenav</a>
                  </li>
                  <li>
                      <a class="text-white" href="layouts-collapsed.html">Collapsed Sidenav</a>
                  </li>
                  <li>
                      <a href="javascript: void(0);" class="right-bar-toggle text-white">Right Sidebar</a>
                  </li>
                  <li>
                      <a class="text-white" href="layouts-boxed-vertical.html">Boxed Vertical</a>
                  </li>
                  <li>
                      <a class="text-white" href="layouts-boxed-horizontal.html">Boxed Horizontal</a>
                  </li>
                  <li>
                      <a class="text-white" href="layouts-scrollable-sidenav.html">Scrollable Sidenav</a>
                  </li>
                  <li>
                      <a class="text-white" href="layouts-detached.html">Detached Sidenav</a>
                  </li>
              </ul>
          </li>

      </ul>

      <!-- Help Box -->
      <div class="help-box bg-info-lighten text-white text-center">
          <a href="javascript: void(0);" class="float-right close-btn text-white">
              <i class="mdi mdi-close"></i>
          </a>
          <img src="assets/images/2.png" height="100" alt="Helper Icon Image" />
          <h5 class="mt-3">Unlimited Access</h5>
          <p class="mb-3">Upgrade to plan to get access to unlimited reports</p>
          <a href="javascript: void(0);" class="btn btn-outline-light btn-sm">Upgrade</a>
      </div>
      <!-- end Help Box -->
      <!-- End Sidebar -->

      <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>