<div class="container">

  <h3> For Artists </h3>

  <h2 class=" fz-12 ">
      To start, indicate the ids of your main platforms</h2>

<form action="">

  <div class="row">

<div class="col-6">

    <div class="app-search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm form-rounded " placeholder="Search...">
                <span class="mdi mdi-magnify"></span>
                <div class="input-group-append">
                    <button class="btn btn-danger btn-rounded" type="submit">YouTube ID</button>
                </div>
            </div>
        </form>
    </div>

    <div class="app-search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm  form-rounded" placeholder="Search...">
                <span class="mdi mdi-magnify"></span>
                <div class="input-group-append">
                    <button class="btn btn-success btn-rounded" type="submit">Spotify ID</button>
                </div>
            </div>
        </form>
    </div>

  </div>

  <div class="col-6">

    <div class="app-search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm  form-rounded" placeholder="Search...">
                <span class="mdi mdi-magnify"></span>
                <div class="input-group-append">
                    <button class="btn btn-warning btn-rounded" type="submit">SoundCloud ID</button>
                </div>
            </div>
        </form>
    </div>

    <div class="app-search">
        <form>
            <div class="input-group">
                <input type="text" class="form-control form-control-sm  form-rounded" placeholder="Search...">
                <span class="mdi mdi-magnify"></span>
                <div class="input-group-append">
                    <button class="btn btn-info btn-rounded" type="submit">Deezer</button>
                </div>
            </div>
        </form>
    </div>

  </div>
</div>

<div class="app-search text-center">
    <form>
        <div class="input-group text-center">
            <input type="text" class="form-control form-control-sm  form-rounded" placeholder="your email adress">
            <div class="input-group-append text-center">
                <button class="btn btn-outline-success btn-rounded" type="submit">send</button>
            </div>
        </div>
    </form>
</div>



</form>

</div>