


<section class="h-100">
    <div class="container-12 text-center">


        <div class="text-center">


            <h2 class="vertical text-black fw400 fz-30">
                Litmoi Music presenta:
               </h2>
  
          </div>



      <div class="row m-0 p-0 pt-2 bg1">

        <div class="col-lg-4 pt-5 pb-5  bg2 my-auto bordesRedondos">
          <div class="header-content mx-auto">
              <h2 class="text-white fw500 fz-38">Litmoi<span class="fw300 text-success" >Medley&trade;</span></h2>
              <h4 class="text-white fw300" >Promoción de alcance global.</h4> 
              <img src="assets/images/img/demo-screen-1.png" class="img-fluid mt-4 bordesRedondos" alt="">
          </div>
        </div>

        <div class="col-lg-4 pt-5 pb-5   bg1 my-auto">
            <div class="header-content mx-auto">
                <h2 class="text-white fw500 fz-38">Litmoi<span class="fw300 text-success" >PLay&trade;</span></h2>
                <h4 class="text-white fw300" >Monitoreo de reproducciones.</h4> 
                <img src="assets/images/img/demo-screen-2.png" class="img-fluid mt-4 bordesRedondos" alt="">
            </div>
          </div>

          <div class="col-lg-4 pt-5 pb-5 bg2 my-auto bordesRedondos">
              <div class="header-content mx-auto">
                  <h2 class="text-white fw500 fz-38">Litmoi<span class="fw300 text-success" >Fund&trade;</span></h2>
                  <h4 class="text-white fw300" >Financiación.</h4> 
                  <img src="assets/images/img/demo-screen-3.png" class="img-fluid mt-4 bordesRedondos" alt="">
              </div>
            </div>

      </div>
 


    </div>
  </section>