<!-- <h3 class="subtitulo" >You as a music artist can be listed as a stock. Your fans and friends can earn money from listening to your music & investing in you.</h3>-->

<div class="banner-area color">
  <div class="container ">
  <div class="row p-0 height">

    <div class="col-6 text-left">
  
  <h2 class="">Creators</h2>

  <p>
      Once an artist lists on Valyou Xchange, four million VXD cryptocurrency limited artist digital asset tokens  
  </p>

  <button class="btn btn-sm btn-info  mb-15" type="button"> <span>Start Now</span> </button>

</div>


<div class="col-6 text-right">
  
    <h2>Fans</h2>

    <p>
        You as a music fan can now trade stock in any Valyou X listed music artist, anywhere on the planet. When you buy shares in any artist on Valyou 
    </p>

    <button class="btn btn-sm btn-info  mb-15" type="button"> <span>Start Now</span> </button>
  </div>  
  
  
  
  
  </div>
  
  
  </div>
  
  
  </div>