<div class="row m-0 animated fadeIn">

    <div class="col-sm-12 col-md-12 col-lg-7 copy1 p-0 m-0">
    <app-portada></app-portada>
    </div>
    
    <div class="col-sm-12 col-lg-5  copy p-0 m-0">
    <app-copy></app-copy>
    </div>
    
    </div>

<div class="main-wrapper-first animated fadeIn">





    <app-banner></app-banner>
    
    
    
    <!-- Start descripciones Area -->
    <app-descripciones></app-descripciones>
    <!-- End Descripciones Area -->
    
    
      <!-- Start Story Area -->
      <section class="story-area color">
            <div class="container">
              <div class="row align-items-center">
                <div class="col-lg-3">
                  <div class="story-title">
                    <h3 class="text-black">Artist Shares</h3>
                 <!--   <span class="text-uppercase text-white">Re-imagining the way</span> -->
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="story-box">
                  <!--   <h6 class="text-uppercase">From the part of beginning</h6> -->
                    <p>You can own shares in your favourite artist or even your next door neighbour who is an upcoming artist. For example If a person bought 100 shares in Kanye west or their next door neighbour at 0.50 cents per share for $50. 
    
                      If after a while, either artists share price increased to $1.50 per share and you decided to sell the shares that you own in either artist, your 100 share units sold times x $1.50 will be $150. 
                      
                      Earning you a profit $100 from the sale of those shares excluding your initial investment of $50 that you initially paid to purchase it. 
                      
                      More or less you can decide to not sell and hold onto it and keep receiving a share of the revenue the artists are generating.
                      *Please note the above is not financial advice. No material contained within this website should be relied upon as providing recommendations in relation to any legal or financial product.</p>
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
      </section>
      <!-- End Story Area -->
    
    
      <!-- Start Subscription Area 
      <section class="subscription-area mt-20">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <div class="section-title text-center">
                    <h3>Buy, sell and manage your cryptocurrencies in Litmoi,
                        Start with 50 COP or less.</h3>
                    <span class="text-uppercase">Re-imagining the way</span>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <div id="mc_embed_signup">
                    <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" class="subscription relative">
                      <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required>
                      <div style="position: absolute; left: -5000px;">
                        <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                      </div>
                      <button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></button>
                      <div class="info"></div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
      </section>
      End Subscription Area -->
    
    <!--
      <section class="service-area mt-20 color">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="section-title text-center">
                <h3 class="text-white">Our Team</h3>
                <span class="text-white text-uppercase">Re-imagining the way</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/w1.jpg);">
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">CPO Founder</h6>
                  <p class="text-white">WordPress, the premier free open-source blogging utility, has gone through several upgrades in</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/w2.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Driving Lesson</h6>
                  <p class="text-white">The buying of large-screen TVs has absolutely skyrocketed lately. It seems that everyone wants one – </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/w3.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Climbing Stairs</h6>
                  <p class="text-white">Having used discount toner cartridges for twenty years, there have been a lot of changes in the </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/w4.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Bike Accident</h6>
                  <p class="text-white">Every avid independent filmmaker has dre amed about making that special interest documentary, or </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/w5.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Car Driving</h6>
                  <p class="text-white">Looking to buy a new computer Overwhelmed by all of the options available to you? Stressed by the </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/w6.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Beach HoTel</h6>
                  <p class="text-white">Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/s7.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Under Passway</h6>
                  <p class="text-white">Over 92% of computers are infected with Adware and spyware. Such software is rarely accompanied by</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div class="single-service">
                <div class="thumb" style="background: url(assets/img/s8.jpg);">
                  <div class="overlay overlay-content d-flex justify-content-center align-items-center">
                    <a href="#" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></a>
                  </div>
                </div>
                <div class="desc">
                  <h6 class="text-uppercase text-white">Dawn to dusk</h6>
                  <p class="text-white">Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    -->
    
      <!-- Start Subscription Area -->
      <section class="subscription-area">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="section-title text-center">
                  <h3>Buy, sell and manage your cryptocurrencies in Litmoi,
                      Start with 50 COP or less.</h3>
                  <span class="text-uppercase">Re-imagining the way</span>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <div id="mc_embed_signup">
                  <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" class="subscription relative">
                    <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required>
                    <div style="position: absolute; left: -5000px;">
                      <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                    </div>
                    <button class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Get Started</span><span class="lnr lnr-arrow-right"></span></button>
                    <div class="info"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </section>
    <!--    End Subscription Area -->
    
    
    
    
        <!-- Start Footer Widget Area -->
        <section class="footer-widget-area">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="single-widget d-flex flex-wrap justify-content-between">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="lnr lnr-pushpin"></span>
                  </div>
                  <div class="desc">
                    <h6 class="title text-uppercase">Address</h6>
                    <p>56/8, panthapath, west <br> dhanmondi, kalabagan, <br>Dhaka - 1205</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-widget d-flex flex-wrap justify-content-between">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="lnr lnr-earth"></span>
                  </div>
                  <div class="desc">
                    <h6 class="title text-uppercase">Email Address</h6>
                    <div class="contact">
                      <a href="mailto:info@dataarc.com">info@dataarc.com</a> <br>
                      <a href="mailto:support@dataarc.com">support@dataarc.com</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="single-widget d-flex flex-wrap justify-content-between">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="lnr lnr-phone"></span>
                  </div>
                  <div class="desc">
                    <h6 class="title text-uppercase">Phone Number</h6>
                    <div class="contact">
                      <a href="tel:1545">012 4562 982 3612</a> <br>
                      <a href="tel:54512">012 6321 956 4587</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Footer Widget Area -->
        <!-- Start footer Area -->
        <footer>
          <div class="container">
            <div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
              <div class="logo">
                <img src="./assets/img/logo.png" class="w70" alt="">
              </div>
              <div class="copy-right-text">Copyright &copy; 2017  |  All rights reserved to Dinomuz inc. This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></div>
              <div class="footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
              </div>
            </div>
          </div>
        </footer>
        <!-- End footer Area -->
</div>