


<div class="row container bg1 bordesRedondos  text-right menosSmall menosNormal" style="height: auto" >


<div class="col-sm-12 col-lg-6 mb-2 mt-2">
    <h3 class="bg1 bordesRedondos  card text-white p-2" >
        Lanza <br> tus tracks
      </h3>
      <p>Los distribuimos gratis!</p>
      <button class="btn btn-info  col-12" routerLink="/login" >Publicar</button>
</div>
 

   

<div class="col-sm-12 col-lg-6 mb-3 mt-2 ">
    <h3 class="bg1 bordesRedondos card  text-white p-2" >
        Crea un  <br> LitmoiMedley
      </h3>
      <p>y compartelo con el mundo </p>
      <button class="btn btn-info   col-12" routerLink="/login" >Crear</button>

</div>

      



   


  </div>




<!--

  centrar contenido vertical

    <div style="display: table; height: 300px">

<div style="display: table-cell; vertical-align: middle;">
</div>

</div>

-->