

<div class="bg-red  text-right">
   

        <div style="display: table; height: 300px">
        <div style="display: table-cell; vertical-align: middle;">
    
    
          <div class="container">
    
    
          
            <div class="row">
    
    
              <div class="col-6">
              <h2 class="text-white fz-48 text-left  fw600 vertical-text">Creators</h2>
              </div>
    
              <div class="col-6">
              <h3 class="text-white fz-18  fw800">Music Artists</h3>
                <hr>
              <p class="fz-18 text-white fw300" >
              <strong> Based on your streaming platforms performance and social media presense<i> Litmoi calculates your stock price.</i> </strong>
              </p>
               
    
    
                    </div>
    
          </div>
    
        </div>
      
              <div class="conteiner pr-5 pl-5">
               <div class="col-12">
               <button class="btn col-12 btn-sm btn-rounded  btn-outline-light m-1" routerLink="/register" type="button"> <i class="  "></i> Price Test </button> 
               </div>
               </div>
    
        
        
    
     
            
        
        </div>
        </div>
    
     
        
        
        
        </div>