<div class="bg-dragula">



    <div class=" container text-center pt-4 pb-3">
    
    
      <h3 class="p-0 m-0"> +1000 Artists Available </h3>
    
      <h2 class="fz-48"> Invierte en los activos más populares del mundo </h2>
    
      <p class="fz-18 mb-4"> Desde industrias ya establecidas hasta las recién llegadas— escogeentre más de una docena de rutas diferentes de inversión </p>
    
      <p class="fz-18"> Desde industrias ya establecidas hasta las recién llegadas— escogeentre más de una docena de rutas diferentes de inversión </p>
                
    </div>
    
                
    </div>
               