


    <div class="container bg1 text-center pt-4 pb-4 ">
    
      <h2 class="mb-3 fw400 fz-24">Distribuimos tu música en las principales plataformas</h2>
            
      <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
        <div class="bg1  d-block ">
        <i class="fz-30 text-white mdi mdi-spotify"></i>
        <h2 class="fz-14 fw400 mt-0 text-white">
       Spotify
        </h2>
        </div> <!-- end card-->
        </div> <!-- end col -->
      
      <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
        <div class="bg1 d-block">
        <i class="fz-30 text-white mdi mdi-youtube"></i>
        <h2 class="fz-14 fw400 mt-0  text-white">
        Ytb music
        </h2>
        </div> <!-- end card-->
        </div> <!-- end col -->
      
         <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
          <div class="bg1   d-block ">
            <i class="fz-30 text-white mdi mdi-itunes"></i>
            <h2 class="fz-14 fw400 mt-0  text-white">
            Apple music
            </h2>
            </div> <!-- end card-->
            </div> <!-- end col -->
      
              <div class="col-md-6 col-xl-3 float-right mb-4 ">
                  <!-- project card -->
                  <div class="bg1 d-block">
                  <i class="fz-30 text-white mdi mdi-google-play"></i>
                  <h2 class="fz-14 fw400 mt-0  text-white">
                 Google play
                  </h2>
                  </div> <!-- end card-->
                  </div> <!-- end col -->
      
   </div>
          
                      