


    <div class="container bg1 text-center pt-4 pb-5">
    
      <h2 class=" mb-5 fw400 fz-30 ">Plataformas compatibles actualmente</h2>
            
      <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
        <div class="bg1  d-block ">
        <i class="fz-48 text-white mdi mdi-spotify"></i>
        <h2 class="fz-18 fz-18 text-white">
       Spotify
        </h2>
        </div> <!-- end card-->
        </div> <!-- end col -->
      
      <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
        <div class="bg1  d-block">
        <i class="fz-48 text-white mdi mdi-youtube"></i>
        <h2 class="fz-18 fz-18 text-white">
        Youtube music
        </h2>
        </div> <!-- end card-->
        </div> <!-- end col -->
      
         <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
          <div class="bg1  d-block ">
            <i class="fz-48 text-white mdi mdi-itunes"></i>
            <h2 class="fz-18 fz-18 text-white">
            Apple music
            </h2>
            </div> <!-- end card-->
            </div> <!-- end col -->
      
              <div class="col-md-6 col-xl-3 float-right mb-4 ">
                  <!-- project card -->
                  <div class="bg1  d-block">
                  <i class="fz-48 text-white mdi mdi-google-play"></i>
                  <h2 class="fz-18 fz-18 text-white">
                 Google play
                  </h2>
                  </div> <!-- end card-->
                  </div> <!-- end col -->
      
      
           
      
      
          
      </div>
          
                      