/* You can add global styles to this file, and also import other style files */


.color {

    background: linear-gradient(0deg, rgb(0, 107, 142,0.1) 0%, rgba(0,0,0,0.4) 100%);
 

}



.titulo{

    font-size: 60px;
    letter-spacing: 5px;
}

.subtitulo{
    font-size: 25px;
    letter-spacing: 2px;
}


.verde{
    color:rgb(7, 222, 21);

}



.bg{
    background: rgb(105, 124, 135);
    
}

.white{
    color:white;
}




.w70{
    width: 70px;
}

.tamaño{
    font-size: 15px;
   
}

.tamaño2{
    font-size: 20px;
   
}

td {
    color:rgb(255, 255, 255);
}

 th {
    color:rgb(7, 222, 21);
}

.position{
    display:inline-block;
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    }

 

    .menos{
     
        margin-top: -120px;
    }

    .menos1{

        margin-top: -70px;

    }

    @media (max-width: 767px) {
    th,td {
        font-size: 12px;
    }

    .menos1{

        margin-top: 0px;

    }

    .tamaño2{
        font-size: 14px;
       
    }

      }
