/* You can add global styles to this file, and also import other style files */


.color {

    background: linear-gradient(0deg, rgba(0,107,142,1) 0%, rgba(0,0,0,1) 100%);
    
  

}


.w70{
    width: 70px;
}

.tamaño{
    font-size: 15px;
}

tr , th {
    color:rgb(208, 208, 208);
}

.position{
    display:inline-block;
    position: absolute;
    z-index: 10;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    }

    .menos{
        margin-top: -135px;
    }

    @media (max-width: 767px) {
    th,td {
        font-size: 12px;
    }

      }
