<div class="col-sm-12 mb-4">
    <!-- Profile -->
    <div class="card bg-blue borderBlue">
        <div class="card-body profile-user-box">

            <div class="row">
                <div class="col-sm-8">
                    <div class="media">
                        <span class="float-left m-2 mr-4"><img src="assets/images/artistas/1.jpg" style="height: 100px;" alt="" class="rounded-circle img-thumbnail"></span>
                        <div class="media-body">

                            <h4 class="mt-1 mb-1 text-white">Sech</h4>
                            <p class="font-13 text-white-50"> Authorised Limoi Seller</p>

                            <ul class="mb-0 list-inline text-light">
                                <li class="list-inline-item mr-3">
                                    <h5 class="mb-1">$ 25,184</h5>
                                    <p class="mb-0 font-13 text-white-50">Total Revenue</p>
                                </li>
                                <li class="list-inline-item">
                                    <h5 class="mb-1">5482</h5>
                                    <p class="mb-0 font-13 text-white-50">Number of Orders</p>
                                </li>
                            </ul>
                        </div> <!-- end media-body-->
                    </div>


                  </div> <!-- end col-->

                <div class="col-sm-4">
                    <div class="text-center mt-sm-0 mt-3 text-sm-right">
                        <h3 class="text-white text-right" >Litmoi price:12.75 <small>USD</small> </h3>
                        <button type="button" class="btn btn-success col-12">
                            <i class="mdi mdi-account-edit mr-1"></i> Buy Litmoi
                        </button>
                    </div>
                </div> <!-- end col-->
            </div> <!-- end row -->

        </div> <!-- end card-body/ profile-user-box-->
    </div><!--end profile/ card -->





<div class="row">
    <div class="col-sm-2 col-md-4">
        <div class="card bg-blue borderBlue tilebox-one">
            <div class="card-body">
                <i class=" mdi text-white mdi-youtube-tv fz-18 mr-1"></i>
                <h6 class="text-white text-uppercase mt-0">YouTube</h6>
                <h2 class="m-b-20">1,587</h2>
                <span class="badge badge-primary"> +11% </span> <span class="text-white">Last day</span>
            </div> <!-- end card-body-->
        </div> <!--end card-->
    </div><!-- end col -->

    <div class="col-sm-2 col-md-4">
        <div class="card bg-blue borderBlue tilebox-one">
            <div class="card-body">
                <i class="mdi text-white mdi-spotify fz-18 mr-1"></i>
                <h6 class="text-white text-uppercase mt-0">Spotify</h6>
                <h2 class="m-b-20">46,782</h2>
                <span class="badge badge-danger"> -29% </span> <span class="text-white">Last day</span>
            </div> <!-- end card-body-->
        </div> <!--end card-->
    </div><!-- end col -->

    <div class="col-sm-2 col-md-4">
        <div class="card bg-blue borderBlue tilebox-one">
            <div class="card-body">
                <i class="mdi text-white mdi-soundcloud fz-18 mr-1"></i>
                <h6 class="text-white text-uppercase mt-0">SoundCloud</h6>
                <h2 class="m-b-20">1,890</h2>
                <span class="badge badge-primary"> +89% </span> <span class="text-white">Last day</span>
            </div> <!-- end card-body-->
        </div> <!--end card-->
    </div><!-- end col -->

    <div class="col-sm-2 col-md-4">
        <div class="card bg-blue borderBlue tilebox-one">
            <div class="card-body">
                <i class=" mdi mdi-vimeo fz-18 mr-1"></i>
                <h6 class="text-white text-uppercase mt-0">Vimeo</h6>
                <h2 class="m-b-20">1,890</h2>
                <span class="badge badge-primary"> +89% </span> <span class="text-white">Last day</span>
            </div> <!-- end card-body-->
        </div> <!--end card-->
    </div><!-- end col -->

    <div class="col-sm-2 col-md-4">
        <div class="card bg-blue borderBlue tilebox-one">
            <div class="card-body">
                <i class="dripicons-jewel float-right text-muted"></i>
                <h6 class="text-white text-uppercase mt-0">Deezer</h6>
                <h2 class="m-b-20">1,890</h2>
                <span class="badge badge-primary"> +89% </span> <span class="text-white">Last day</span>
            </div> <!-- end card-body-->
        </div> <!--end card-->
    </div><!-- end col -->

    <div class="col-sm-2 col-md-4">
        <div class="card bg-blue borderBlue tilebox-one">
            <div class="card-body">
                <i class="dripicons-jewel float-right text-muted"></i>
                <h6 class="text-white text-uppercase mt-0">YouTube</h6>
                <h2 class="m-b-20">1,890</h2>
                <span class="badge badge-primary"> +89% </span> <span class="text-white">Last day</span>
            </div> <!-- end card-body-->
        </div> <!--end card-->
    </div><!-- end col -->





</div>
<!-- end row -->




<div class="row">
    <div class="col-xl-12">
        <div class="card bg-blue">
            <div class="card-body">
                <h4 class="header-title mb-4 text-white">Line Chart</h4>

                <div class="mt-3 chartjs-chart text-white" style="height: 320px;">
                    <canvas class="text-white" id="line-chart-example"></canvas>
                </div>

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->



</div>

</div>  <!-- end col-->