


    <div class="container text-center pt-4 pb-5">
    
   
    
      <h2 class="fz-48 text-black mb-4"> 
          Why to invest with Litmoi? </h2>
    
   
            
<div class="col-md-6 col-xl-3 float-right mb-4 ">
<!-- project card -->
<div class="card bg-dark d-block bordecito2">
<i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i>
<h2 class="fz-18 fz-18 text-black">
Plataforma galardonada
</h2>
<div class="card-body position-relative">
<p class="text-black"> Software premiado, reconocido y elogiado por los expertos más respetados de la industria.</p>
</div> <!-- end card-body-->
</div> <!-- end card-->
</div> <!-- end col -->

<div class="col-md-6 col-xl-3 float-right mb-4  ">
<!-- project card -->
<div class="card bg-dark d-block bordecito">
<i class="fz-48 text-success  mdi mdi-artist-outline"></i>
<h2 class="fz-18 fz-18 text-black">Interfaz personalizable </h2>
<div class="card-body position-relative">
<p class="text-black"> Personaliza la plataforma para que se ajuste mejor a tus necesidades — desde el tipo de gráfico hasta el color.</p>
</div> <!-- end card-body-->
</div> <!-- end card-->
</div> <!-- end col -->

<div class="col-md-6 col-xl-3 float-right mb-4  ">
<!-- project card -->
<div class="card bg-dark d-block bordecito2">
<i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i>
<h2 class="fz-18 text-black"> Retiradas cómodas</h2>
<div class="card-body position-relative">
<p class="text-black">
    Un equipo de profesionales que hablan tu lengua nativa estará siempre ahí para ayudarte.
</p>
</div> <!-- end card-body-->
</div> <!-- end card-->
</div> <!-- end col -->

<div class="col-md-6 col-xl-3 float-right mb-4  ">
<!-- project card -->
<div class="card bg-dark d-block bordecito">
<i class="fz-48 text-success mdi mdi-podium-gold"></i>
<h2 class="fz-18 text-black"> Soporte 24/7</h2>  
<div class="card-body position-relative">
<p class="text-black">
Un equipo de profesionales que hablan tu lengua nativa estará siempre ahí para ayudarte.
</p>
</div> <!-- end card-body-->
</div> <!-- end card-->
</div> <!-- end col -->


    
</div>
    
                
