


    <div class="container bg1 text-left pt-4 pb-5">




            <div class="col-md-6 col-xl-3 float-right mb-4 ">
            <!-- project card -->
            <div class="bg1  d-block ">
            <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
            <h2 class="fz-24 text-center text-white">
            Inteligente
            </h2>
            <div class="card-body position-relative">
            <p class="text-grey  text-left fz-20">Litmoi AI analiza tus tracks. Con nuestra red global de <a href="">Melómanos</a> ampliamos tu audiencia. </p>
            </div> <!-- end card-body-->
            </div> <!-- end card-->
            </div> <!-- end col -->

    
        <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
        <div class="bg1  d-block ">
         <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
        <h2 class="fz-24 text-center text-white">
        Práctico
        </h2>
        <div class="card-body position-relative">
        <p class="text-grey text-left fz-20">Controla cuanto has generado y recibe el pago por tus streams directo en tu <a href="">Visa Litmoi card.</a>
        </p>
        </div> <!-- end card-body-->
        </div> <!-- end card-->
</div> <!-- end col -->  





<div class="col-md-6 col-xl-3 float-right mb-4 ">
    <!-- project card -->
    <div class="bg1  d-block">
    <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
    <h2 class="fz-24 text-center text-white">
    Justo
    </h2>
    <div class="card-body position-relative">
    <p class="text-grey text-left fz-20">Conserva el 100% de los derechos de tu música, Litmoi la distribuye y toma un porcentaje de las regalias.</p>
    </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->

            
<div class="col-md-6 col-xl-3 float-right mb-4 ">
<!-- project card -->
<div class="bg1  d-block">
  <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
<h2 class="fz-24 text-center text-white">
Poderoso
</h2>
<div class="card-body position-relative">
<p class="text-grey text-left fz-20">Crea un Litmoi<a href="">Medley</a> desde tu lanzamiento en nuestra plataforma y compártelo con el mundo.</p>
</div> <!-- end card-body-->
</div> <!-- end card-->
</div> <!-- end col -->






            


    
</div>
    
                
