


    <div class="container bg-morado text-center pt-4 pb-5">
    
   
            
<div class="col-md-6 col-xl-3 float-right mb-4 ">
<!-- project card -->
<div class="bg-morado  d-block bordecito2">
  <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
<h2 class="fz-18 fz-18 text-white">
    Fácil de compartir
</h2>
<div class="card-body position-relative">
<p class="text-grey">Simplemente crea un Promolink desde tu lanzamiento de LANDR y compártelo en todas tus redes sociales.</p>
</div> <!-- end card-body-->
</div> <!-- end card-->
</div> <!-- end col -->

<div class="col-md-6 col-xl-3 float-right mb-4 ">
    <!-- project card -->
    <div class="bg-morado  d-block bordecito2">
    <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
    <h2 class="fz-18 fz-18 text-white">
        En todos los dispositivos
    </h2>
    <div class="card-body position-relative">
    <p class="text-grey">Dale a tus fans una forma sencilla de escuchar tu música, en cualquier plataforma y el dispositivo..</p>
    </div> <!-- end card-body-->
    </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-md-6 col-xl-3 float-right mb-4 ">
        <!-- project card -->
        <div class="bg-morado  d-block bordecito2">
    <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
        <h2 class="fz-18 fz-18 text-white">
            Customizable
        </h2>
        <div class="card-body position-relative">
        <p class="text-grey">Añade el mensaje personalizado que desees incluir al compartir el enlace en tus redes sociales..</p>
        </div> <!-- end card-body-->
        </div> <!-- end card-->
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3 float-right mb-4 ">
            <!-- project card -->
            <div class="bg-morado  d-block bordecito2">
         <!--   <i class="fz-48 text-success mdi mdi-alpha-s-circle-outline"></i> -->
            <h2 class="fz-18 fz-18 text-white">
                Gratis
            </h2>
            <div class="card-body position-relative">
            <p class="text-grey">Los Promolinks son gratis con todos los planes de distribución de LANDR.</p>
            </div> <!-- end card-body-->
            </div> <!-- end card-->
            </div> <!-- end col -->


            <h6>.</h6>


    
</div>
    
                
